CPTCFG_CFG80211=m
CPTCFG_CFG80211_CERTIFICATION_ONUS=y
CPTCFG_CFG80211_DEBUGFS=y
CPTCFG_MAC80211=m
CPTCFG_MAC80211_RC_MINSTREL=y
CPTCFG_MAC80211_RC_DEFAULT_MINSTREL=y
CPTCFG_MAC80211_RC_DEFAULT="minstrel_ht"
CPTCFG_MAC80211_MESH=y
CPTCFG_MAC80211_DEBUGFS=y
CPTCFG_MAC80211_NSS_SUPPORT=y
CPTCFG_WLAN=y
CPTCFG_WLAN_VENDOR_ATH=y
CPTCFG_ATH_COMMON=m
CPTCFG_ATH_USER_REGD=y
CPTCFG_ATH_REG_DYNAMIC_USER_REG_HINTS=y
CPTCFG_ATH11K=m
CPTCFG_ATH11K_NSS_SUPPORT=y
CPTCFG_ATH11K_NSS_MESH_SUPPORT=y
CPTCFG_ATH11K_AHB=m
CPTCFG_ATH11K_PCI=m
CPTCFG_ATH11K_DEBUG=y
CPTCFG_ATH11K_DEBUGFS=y
CPTCFG_ATH11K_DEBUGFS_STA=y
CPTCFG_ATH11K_DEBUGFS_HTT_STATS=y
